@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf');
    src: url('/fonts/Roboto/Roboto-Italic.ttf') format('ttf');
}

/* 0 */
* {
    box-sizing: border-box;
}

/* 1 */
body {
    background: #b4b4b4 url("../images/audirs7.jpg") left center/cover no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', Arial ,sans-serif ;
    font-weight: 400;
}

/* 10 */
.menu-wrap {
    width: 18%;
    font-size: 1.3rem;
    margin-left: 50px;
    padding-top: 15px;
    color: rgb(0, 119, 238);
}

/* 10 */
.menu__link {
    color: rgb(0, 119, 238);
    text-decoration: none;
    padding-left: 10px;
}

/* 20 */
.menu__link:hover {
    font-weight: 800;
    color: rgb(0, 4, 238);
    text-decoration: underline;
}

/* 10 */
.wrapper {
    width: 80%;
    background-color: #e8f2faf5;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 191px;
    margin-bottom: 3%;
    padding-bottom: 2%;
}

/* 10 */
.main {
    background-color: rgb(0, 119, 238);
    border-radius: 6px;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    color: rgb(255, 255, 255);
}

/* 10 */
.main__heading {
    font-size: 2rem;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 7px;
}

/* 1 */
input {
    padding: 5px 5px;
}

/* 10 */
.form-group {
    margin-bottom: 10px;
    margin-left: 25px;
}

/* 10 */
.btn {
    width: 80%;
    padding: 5px;
    margin-left: 42px;
}

/* 10 */
.catalogcar {
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* 10 */
.vitrina {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

/* 10 */
.vitrina__item {
    width: 320px;
    text-align: center;
}

